
<div class="container" style="margin-left: 150px">
<h5 class="mt-3">Product List</h5>
    @for (item of productList; track $index) {
    <div class="card w-75 mb-3 mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title">{{item.name}} </h5>
                    <p class="card-text"> <small class="text-body-secondary">@if(item.offerType != 'none') {
                            {{item.offerType}} }</small>
                    </p>
                </div>
                <div class="col-2 text-end">
                    <span class="fs-5 fw-medium text-success">
                        <small class="text-body-secondary fs-6">Rs.</small>{{item.price}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                   <span class="fst-italic"> Quantity</span>: <span class="badge rounded-pill text-bg-secondary">{{item.quantity}}</span><br>

                </div>

            </div>
            <div class="row float-end">
                <div class="col">
                    <button mat-raised-button extended (click)="addToCart(item)">
                        Add to Cart
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
             
            </div>


        </div>
    </div>
    } @empty {
        <p>No products available.</p>
    }
</div>
